body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.5),
      rgba(20, 20, 20, 0.9)
    ),
    url("images/weather-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: scroll; */
  height: 100vh;
}
.weather-container {
  padding-top: 6rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  width: 80%;
  max-width: 80rem;
  margin-inline: auto;
}
.temp-location {
  width: fit-content;
  margin-inline: auto;
  text-align: center;
  margin-bottom: 2rem;
}
.location {
  font-weight: 400;
  font-size: 1.125rem;
  text-align: center;
  padding: 0.25rem 0.75rem;
  border: 0;
  background: transparent;
  color: white;
}
.temperature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.temperature {
  margin: 0.25rem;
  font-weight: 600;
  font-size: 4rem;
}
.celcius {
  font-weight: 100;
  font-size: 2rem;
}
.weather-desription {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 0.25rem;
}
.additional-info-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.additional-info {
  display: flex;
  padding: 0 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}
.additional-info-label {
  font-weight: 400;
  font-size: 1rem;
}
.weather-forecast-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.5rem;
  justify-content: center;
  margin: 4rem 0;
}
.weather-forecast-per-day {
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.1)
  );
}
.day-and-date {
  font-weight: 400;
  font-size: 0.675rem;
}
.forecast-temperature-container {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.forecast-temperature-high {
  margin: 0;
  font-weight: 600;
  font-size: 2.5rem;
}
.forecast-temperature-low {
  font-weight: 400;
}
.forecast-celcius {
  margin: 0;
  font-weight: 200;
  font-size: 1.25rem;
}
.forecast-weather-desription {
  font-weight: 400;
  font-size: 0.75rem;
}

@media (max-width: 1350px) {
  .weather-forecast-container {
    grid-template-columns: repeat(5, 1fr)
  }
}

@media (max-width: 768px) {
  .weather-forecast-container {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media (max-width: 480px) {
  body {
    overflow-y: scroll;
    height: 100%;
  }
  .additional-info-container {
    flex-direction: column;
  }
  .weather-forecast-container {
    grid-template-columns: repeat(1, 1fr)
  }

  .forecast-temperature-container {
    flex-direction: column;
  }
  .weather-forecast-per-day {
    display: grid;
    grid-template-areas: 
    "day-date temp"
    "description temp";
    align-items: center;
  }
  .day-and-date {grid-area: day-date; font-size: 0.75rem;}
  .forecast-temperature-container {grid-area: temp;}
  .forecast-weather-desription {grid-area: description;font-size: 1rem;}
}